* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {/* Old browsers */
	background: #fff;
	font: 12px Helvetica;
   	padding: 10px;
	color: #085ca5;
}

    #main {
        min-height: 360px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
    }
 
    #main > article {
        margin: 4px;
        padding: 5px;
        border: 1px solid #cccc33;
        border-radius: 7pt;
        background: #F7F7F7;
        flex: 1 1 60%;
        order: 2;
    }

    #main > nav {
        margin: 4px;
        padding: 5px 0px 0px 15px;
        border: 1px solid #cccc33;
        border-radius: 7pt;
        background: #F7F7F7;
		font-size: 12px;
		line-height: 30px;
		display: flex;
		flex-flow: column wrap;
        flex: 1 6 15%;
        order: 1;
    }

		#main > nav > a{
			padding-left: 5px;
			text-transform: uppercase;
		}	
  
		#main > nav a:hover{
			color: #0707a0;
		}

    #main > aside {
        margin: 4px;
        padding: 5px;
        border: 1px solid #8888bb;
        border-radius: 7pt;
        background: #F7F7F7;
        flex: 1 6 15%;
        order: 3;
    }
 
    header, footer {
        display: block;
        margin: 4px;
        padding: 5px 15px 5px 5px;
        min-height: 75px;
        border: 1px solid #eebb55;
        border-radius: 7pt;
        background: #F7F7F7;
    }

		header > nav{
			display: flex;
			flex-flow: row wrap;
		}

		header nav img{
			width: 150px;
			height: 50px;
			vertical-align: top;
			filter: alpha(opacity=45);
			-moz-opacity: .45;
			opacity: .45;
		}

		header span{
			font-size: 18px;
		}

		header > nav span{
			width: 80%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
 
    /* Too narrow to support three columns */
    @media all and (max-width: 640px) {
        #main, #page {
            flex-direction: column;
        }

        #main > article, #main > nav, #main > aside {
        /* Return them to document order */
            order: 0;
        }
  
        #main > nav, #main > aside, header, footer {
            min-height: 70px;
        }
		
		.colase{
			font-size: 10px;
		}
		
		header span{
			font-size: 10px;
		}
		
		header > nav span{
			width: 60%;
		}

    }